main {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    margin-bottom: 2rem;
}

.headline {
    text-align: center;
}

.image {
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.image>img {
    object-fit: cover;
    max-width: 480px;
    height: auto;
}

.tourinfo {
    text-align: justify;
}

h2, h3, p,
strong,
a,li {
    line-height: 1.5rem;
    margin-top: 1rem;
}

ul {
     list-style-type: none;
}

.ticket>h3,.setlist>h3,.web>h3,.movie>h3,.podcast>h3 {
    text-align: center;
}

.cards {
    border: 1px solid #373332;
    border-radius: 5px;
    transition: .5s;
    text-align: center;
    margin-top: 1rem;
    padding: .3rem;
}

.cards:hover {
    box-shadow: 0px 0px 10px #f03f2f;
}

.cards>ul {
    padding:0;
}
 
h2,h3,strong {
   color: #f03f2f;
}

strong {
    text-decoration: underline #f03f2f;
}

@media screen and (min-width:991px) {

      
        h1 {
            text-align: right;
        }
           
        main {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 1fr 1fr;
                margin: auto;
                padding: 1%;
                gap: 1rem;
                margin-bottom: 2rem;
            }

        .headline {
            text-align: left;
                grid-column: 1/4;
                grid-row: 1/2;
            }

        .tourinfo {
            grid-column: 1/4;
            grid-row: 1/2;
            position: relative;
            top: 8rem;
        }
    
        .image {
            grid-column: 4/6;
            grid-row: 1/2;
        }

        .image>img {
            width: auto;
        }
    
        .ticket {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    
        .setlist {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    
        .web {
            grid-column: 3/4;
            grid-row: 2/3;
        }
    
        .movie {
            grid-column: 4/5;
            grid-row: 2/3;
        }
    
        .podcast {
            grid-column: 5/6;
            grid-row: 2/3;
        }

        

}
 
