
 
body {
     background-color: #373332;
 }
 

 
h2 {
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 0px;
    margin-left: 60px;
    color: #f03f2f;
 }

img {
    border: 2px solid #8b3a32;
    display:inline-block;
    width: 300px;
    margin: 10px 10px;
 }

a img:hover {
    box-shadow: 0 0 13px #f03f2f;
 }
 
.artists a{
    display: inline-block;
    width: 300px;
    margin-left: 4spx;
    padding-top: 40px;
    padding-left: 80px;
 }
  

 