* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

body {
    width: 100%;
    background-color: #190124;
    padding: 1rem;
}

ion-icon {
    font-size: xx-large;
    color: #f9dede;
    transition: .5s;
}

ion-icon:hover {
    color: #f03f2f;
}

a {
    color: #f2a766;
    transition: .3s;
}

span {
    color: #f9dede;
}

a:visited {
    color: #f9dede;
}

a:hover {
    color: #f03f2f;
}

#kw40 .button {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f03f2f;
    border-radius: 10px;
}
.button::after{
    margin-left: 6px;
    content: "KV11";
}

#kw40 {
    font-size: large;
    font-weight: bold;
}

#kw40 nav .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

#kw40 span a {
    text-decoration: none;
    padding: .3rem;
}

#kw40 span a:link {
    border-radius: 8px;
    background-color: #f9dede;
    margin: .3rem;
    color: #f03f2f;
}

#kw40 span a:visited {
    color: #190124;
}
#mainnav {
    display: flex;
    align-items: center;
    justify-content:  start;
}
#kw40 nav .button:hover {
    background-color: none;
    color: #f9dede;
    box-shadow: none;
}

#kw40 span a:hover {
    background-color: #f03f2f;
    color: #f9dede;
    box-shadow: 0 0 5px #f03f2f;
}
header,footer {
    width: 100%;
    background-color: #230033;
}
h1 {
    font-size: 1.8rem;
    color: #f03f2f;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px #f77d72;
    text-align: right;
}

.ticker {
    color: #f9dede;
    background-color: #230033;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: .3rem;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer>a {
    font-size: .8rem;
    margin-left: .1rem;
}

footer>span {
    font-size: .8rem;
}

.artists {
    width: 100vw;
}
.input {
    
    width: 0;
    Height: 0;
    border: none;
    border-radius: 10px;
    margin: 0;
    padding: 0 ;
    font-size: 1rem;
    background-color: #f9dede;
    color: #f03f2f;
    overflow: hidden;
    transition: 0.2s ease-out;
}
.data {
    cursor: pointer;
}
.data.active + input {
    height: 2em;
    Width: 9em;
}

@media (min-width: 1051px) {

    h1 {
        text-align: right;
        margin-right: 1rem;
    }
    #kw40 nav .content {
        flex-direction: row;
        height: auto;
        max-height: none;
    }
    #kw40 nav {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: baseline;
    }
    #kw40 nav .button {
        border: none;
        margin-bottom: 2em;
    }
    #kw40 nav .button:hover {
        background-color: none;
        color: #f9dede;
        box-shadow: none;
    }
}

@media (max-width: 644px) {
    .artists {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #kw40 a:hover {
        margin: 0;
    }

    footer>span,
    footer>a {
        font-size: 1rem;
        margin-left: 1rem;
    }

    header h1 {
        text-align: center;
    }

    #mainnav {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}