 @font-face {
    font-family: "RocknRollOne";
    src: url("../../konzergaenger/Assets/Fonts/KnifeMetalGrunge.ttf");
 }

 @font-face {
    font-family: "RocknRolltwo";
    src: url(./../Assets/Fonts/LudovicusIi.ttf);
 }

 @font-face {
    font-family: "RocknRollthree";
    src: url(./../Assets/Fonts/Serialpublication.ttf);
 }

 .artists {
    width: 90%;
    margin: auto;
 }

 .artists {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 }

 h2 {
    color: #f03f2f;
    line-height: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
 }

 .card {
    width: 300px;
    height: 300px;
    margin: 10px;
    display: inline-block;
    background-color: #190124;
    border: 2px solid #f03f2f;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    color: #f9dede;
    content: "";
 }

 .card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px #8b3a32;
 }

 .card:hover {
    box-shadow: 0 0 20px #f03f2f;
 }

 .card h3 {
    margin: 0px;
    padding: 0px;
    color: #f2a766;
    position: relative;
    z-index: 2;
    bottom: 3px;
 }

 .card a {
    text-decoration: none;
 }