

 


#kw40 span {
    font-size: x-large;
 }

#kw40 {
    font-size: large;
    font-weight: bold; 
 }

#kw40>nav {
     display: flex;
     flex-direction: column;
 }

#kw40 a {
     text-decoration: none;
     padding: .3rem;
 }

#kw40 a:link {
    border-radius: 8px;
    background-color: #f9dede;
    margin: .3rem;
    color: #f03f2f;
 }
 
#kw40 a:visited {
    color: #190124;
 }

#kw40 a:hover {
    color: #f9dede;
    background-color: #f03f2f;
    box-shadow: 0 0 5px #f03f2f;
 } 

header,footer {
    width: 100%;
    background-color:  #230033;
 }
 
h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #f03f2f;
    text-shadow: 1px 1px 1px #f77d72;
 }

.ticker {
     color: #f9dede;
     background-color: #230033;
     text-align: center;
     font-size: 1.2rem;
     margin-top: 2rem;
     padding: .3rem;
 }
main {
    overflow: hidden;
 }
 
h2 {
    display: inline-block;
    margin-top: 45px;
    color: #f03f2f;
}


 
p {
   
    line-height: 145%;
    text-align: justify;
 }

.form {
    margin-left: 60px;
    margin-right: 390px;
    border: 3px solid #d54723;
    border-radius: 5px;
    background-color: #F2A766;
}

.form a:link {
    color: #f9dede;
}
.form a:visited {
    color: #f03f2f;
}

.form a:hover {
    box-shadow:  0 0 10px #8b3a32;
}

label,input {
    color: #f03f2f;
    margin-left: 56px ;
} 

p:nth-of-type(3) {
    color: #f03f2f;
}

a[href=".html"] {
    
    overflow: hidden;
}

input {
    border: 2px solid #f03f2f;
    border-radius: 3px;
    background-color: #f9dede;
}

textarea {
    margin-left: 56px;
}

input, select, textarea {
	font-size: inherit;
	font-family: inherit;
    color: #373332;
    background-color: #F2F2F2;
}	

.demoform input[type="text"],
.demoform input[type="email"],
.demoform textarea { 
  width: 100%; min-width: 100%; 
  box-sizing: border-box;
  padding: 4px;
  outline: none;
}

input[type="submit"] {
    font-family: sans-serif;
    color: #f03f2f;
 }

 

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
 }






